:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li{
  list-style:none;
}
ul{
  padding:0;
}
.message{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}
.message > b{
  color:rgb(0, 201, 252);
}

.leaderboard{
  width:680px;
  max-width:680px;
  background: rgba(0, 47, 215, 0.88);
  box-shadow: 0px 11px 9px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}
.leaderboard > h1{
  text-align: right;
  padding-right: 40px;
  padding-top:30px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  color: #FFFFFF;
}
.table-headings {
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
}
.player-head{
  text-align: left;
  width: 50%;
  padding-left: 40px;
}
.points-head{
  text-align: right;
  width:50%;
  padding-right: 40px;
}
.ul-container{
  padding-inline-start: 0px;
  width:100%;
  /* display: flex; */
  list-style: none;
}
.player-line, .win-player-line{
  width:100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 36, 163, 0.52);
  padding:10px 0;
  margin-bottom:5px;
}
.win-player-line{
  background: rgba(255, 0, 199, 0.47);
}
.player, .win-player{
  padding-left: 40px;
  text-align: left;
  width: 50%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.6);
}
.win-player{
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
.points, .win-points{
  width: 50%;
  text-align: right;
  padding-right: 40px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: rgba(255, 245, 0, 0.6);
}
.win-points{
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: #FFF500;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}